DISCORD_TOKEN=>YOUR_BOT_TOKEN<
CLIENT_ID=>CLIENT_ID<
GUILD_ID=>_GUILD_ID<

DATABASE_URL="file:./dev.db"

NODE_ENV=development

ROLE_ANNOUNCEMENTS=>CHANNEL_ID<
ROLE_EVENTS=>CHANNEL_ID<
ROLE_LEADERBOARDS=>CHANNEL_ID<
ROLE_OPERATIONS=>CHANNEL_ID<
ROLE_ALERTS=>CHANNEL_ID<

RCON_HOST=>YOUR_SERVER_IP<
RCON_PORT=>YOUR_SERVER_RCON_PORT<
RCON_PASSWORD=>YOUR_SERVER_RCON_PASSWORD<
